.about{
  background-color: #43165c;
  color: #ffffff;
  font-family: "Arial", Helvetica, sans-seriff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact{
  background-color: #ffffff;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerabove, .footerbelow {
  background-color: #2a252d;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navwrapper{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav-bar{
  display: flex;
  width:100%;
  align-items: center;
}
a {
  text-decoration: none;
  display:block;
  text-align: center;
  align-items: center;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}