.about{
  background-color: #43165c;
  font-color: #ffffff;
  font-family:
}

.contact{
  background-color: #ffffff;
  font-color: #333333;
}

.footerabove, .footerbelow {
  background-color: #2a252d;
  font-color: #ffffff;
}